
{% include 'Document/Base1.html' %}


{% load static %}
<link rel="stylesheet" href="{% static 'css/Document.css' %}">

{% block body %}


<div class="container">
            <br>
            <div class="row">
                <div class="col-md-4 col-md-offset-4">
                    <div class="login-panel panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">Rellena los campos</h3>
                        </div>
                        <div class="panel-body">
                            <center><form role="form" method="post" id='form_register'>
                                {% csrf_token %}
								{% for field in form %}
									<br>{{ field }}<br>
									{{ field.errors }}
								{% endfor %}
								<br><br>
								<button class="btn btn-success" type="submit" name="register"/>Crea tu cuenta</button>
                            </form></center>
                        </div>
                    </div>
                </div>
            </div>
</div>

<center><p>¿Ya tienes una cuenta? <a href="{% url 'login' %}">Logueate aquí</a></p></center>

{% endblock %}